<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bootstrap 101 Template{% endblock %}</title>
    <base href={{ base_url }}>

    {% block stylesheets %}
      <link href="{{ asset('bundles/golovnyatrack/vendor/jasmine/images/jasmine_favicon.png') }}" rel="shortcut icon" type="image/png">
      <!-- Bootstrap -->
      {% stylesheets output='css/main.css'
          '@bootstrap_css' 
          '@GolovnyaTrackBundle/Resources/public/css/track.css' 
          '@jasminecss' %}
           <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}" />
      {% endstylesheets %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      {% javascripts output='js/shiv_respond.js'
          '@GolovnyaTrackBundle/Resources/public/vendor/html5shiv/dist/html5shiv.js'
          '@GolovnyaTrackBundle/Resources/public/vendor/respond/dest/respond.src.js' %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
    <![endif]-->
  </head>
  <body>
    <div id="content"></div>

    {% block javascripts %}
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      {% javascripts output='js/main.js'
          '@GolovnyaTrackBundle/Resources/public/vendor/react/react-with-addons.js'
          '@GolovnyaTrackBundle/Resources/public/vendor/jquery/dist/jquery.js'
          '@bootstrap_js'
          '@GolovnyaTrackBundle/Resources/public/js/src/track.js'
          '@jasminejs' %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}

    {% endblock %}
  </body>
</html>
