<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bootstrap 101 Template{% endblock %}</title>

    {% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{ asset('bundles/golovnyatrack/vendor/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/golovnyatrack/css/track.css') }}" rel="stylesheet">

    
    <link href="{{ asset('bundles/golovnyatrack/vendor/jasmine/images/jasmine_favicon.png') }}" rel="stylesheet">
    <link href="{{ asset('bundles/golovnyatrack/vendor/jasmine/lib/jasmine-core/jasmine.css') }}" rel="stylesheet">
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ asset('bundles/golovnyatrack/vendor/html5shiv/dist/html5shiv.js') }}"></script>
      <script src="{{ asset('bundles/golovnyatrack/vendor/respond/dist/respond.js') }}"></script>
    <![endif]-->
  </head>
  <body>
    <div id="content"></div>

    {% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('bundles/golovnyatrack/vendor/react/react-with-addons.js') }}"></script>
    <script src="{{ asset('bundles/golovnyatrack/vendor/jquery/dist/jquery.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('bundles/golovnyatrack/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/golovnyatrack/js/build/track.js') }}"></script>

    <script src="{{ asset('bundles/golovnyatrack/vendor/jasmine/lib/jasmine-core/jasmine.js') }}"></script>
    <script src="{{ asset('bundles/golovnyatrack/vendor/jasmine/lib/jasmine-core/jasmine-html.js') }}"></script>
    <script src="{{ asset('bundles/golovnyatrack/vendor/jasmine/lib/jasmine-core/boot.js') }}"></script>
    <script src="{{ asset('bundles/golovnyatrack/js/jasmine-react-helpers/src/jasmine-react.js') }}"></script>
    <script src="{{ asset('bundles/golovnyatrack/js/build/trackSpec.js') }}"></script>

    {% endblock %}
  </body>
</html>
